 #menu{
     position: absolute;
     left: 0;  top: 0;
    z-index:-999;
    width: 0;
    height: 872px;
    background-color: #000000;
    opacity: 1;
}
 #menu ul{
     display: none;
 }
 #menu ul li{
     position: relative;
     display: block;
     width: 255px;
     height: 47px;
     padding-left:15px;
     line-height: 47px;
     cursor: pointer;
 }
 #menu ul li span{
     width: 4px;
     height: 8px;
     position: absolute;
     right:15px;
 }
 #menu .first li:hover{
     color: #ffffff;
 }
 #menu .second li:hover{
     color:#b89f7a;
 }
 #menu .first{
     margin-top:10px;
     width: 270px;
     height: 209px;
     color: #b89f7a;
     border-bottom: #fff solid 1px;
 }
 #menu .second{
     margin-top:10px;
     width: 270px;
     height: 433px;
     color: #ffffff;;
 }
 /*点击弹出2*/
 #menu .second .one{
     overflow: hidden;
 }

 #menu .second #pop{

     width: 240px;
     height: 222px;
     padding-left: 30px;

 }
 #menu .second #pop li{
     height: 37px;
     line-height: 37px;
     color: #ffffff;
 }
 #menu .second #pop li:hover{
     color:#b89f7a;
 }