/*#nav{*/
    /*height: 120px;*/
/*}*/
/*#nav #wrapper{*/
    /*background: url("../img/logo.png") no-repeat left center;*/
    /*position: relative;*/
/*}*/
/*#list{*/
    /*position: absolute;*/
    /*top:50%;*/
    /*transform:translateY(-50%);*/
    /*left:352px;*/
/*}*/
/*#list li{*/
    /*float: left;*/
    /*height: 14px;*/
    /*line-height: 14px;*/
    /*font-size:12px;*/
    /*color:#626262;*/
/*}*/
/*#list li span{*/
    /*width: 1px;*/
    /*height: 14px;*/
    /*background: url("../img/sprite.png") no-repeat;*/
    /*float: right;*/
    /*margin:0 25px;*/
/*}*/
/*#search-ipt{*/
    /*width: 130px;*/
    /*height: 130px;*/
    /*background-color: #f1f3f6;*/
    /*outline:none;*/
    /*border:0;*/
    /*text-indent: 10px;*/
/*}*/
/*#search{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform:translateY(-50%);*/
    /*right: 0;*/
/*}*/
/*#search-icon{*/

/*}*/
#nav {
    height: 120px;
}

#nav .wrapper {
    background: url(../img/logo.png) no-repeat left center;
    position: relative;
}

#list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 352px;
}

#list li {
    float: left;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #626262;
}

#list li span {
    width: 1px;
    height: 14px;
    float: right;
    margin: 0 25px;
    background: url(../img/sprite.png) no-repeat;
}

#search-ipt{
    width: 130px;
    height: 30px;
    background-color: #f1f3f6;
    outline: none;
    border: 0;
    text-indent: 10px;
}
#search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
#banner{
    width: 100%;
    height: 200px;
}
#banner #one{
    float: left;
    width: 105px;
    height: 105px;
    background: url("../img/sprite2s.png") no-repeat -32px -13px;
}
#banner #two{
    float: left;
    width: 105px;
    height: 105px;
    background: url("../img/sprite2s.png") no-repeat -159px -13px;
}
#banner #three{
    float: left;
    width: 105px;
    height: 105px;
    background: url("../img/sprite2s.png") no-repeat -286px -13px;
}